<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <div class="container">
      <ul class="navbar-nav mx-auto">
        <div class="nav-edit">
        <div class="">
          <li class="nav-item mr-5">
            <a class="nav-link text-res" routerLink="/login" routerLinkActive="active">Become a Customer</a>
          </li>
       </div>
       <div class="line"></div>
        <div>
          <li class="nav-item">
            <a class="nav-link  text-res" routerLink="/signup" routerLinkActive="active">Become a Worker</a>
          </li>
      </div>
    </div>
      </ul>
    </div>
  </nav>
  



  <router-outlet></router-outlet>
  
