.share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.icon-edit{
    text-align: center;
    font-size: 20px;
    color: #2D8EC3;
    background: #E5F1F8;
    margin: 4px;
    width: 90%;
    padding: 7px;
    border-radius: 50%;
    align-self: center;



}